<!--footer-->
<div class="footeer">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="site-info">
          <div>
            <img src="assets\Images\logoForIcon.png" alt="">
          </div>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elitLorem ipsum dolor sit, amet consecteLorem ipsum
            dolor sit, amet consectetur adipisicing elit.tur adipisicing elit.. Neque unde at et, sit hic distinctio
            sequi recusandae delectus quos, aliquam ipsam aspernatur. Adipisci praesentium similique dolores, suscipit
            aliquam eius excepturi?</p>
        </div>
      </div>


      <div class="col-md-3">
        <div class="help-links">
          <h2>Helpful Links</h2>
          <div class="row">
            <div class="col">
              <ul class="list-unstyled">
                <li>About</li>
                <li>Portofolio</li>
                <li>Team</li>
                <li>Pricing</li>
                <li>Privacy Policy</li>
              </ul>
            </div>
            <div class="col">
              <ul class="list-unstyled">
                <li>FAQ</li>
                <li>Blog</li>
                <li>How It Works</li>
                <li>Benefits</li>
                <li>Contact</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="contact">
          <h2>Contact Us</h2>
          <ul class="list-unstyled">
            <li>Banha BFCAI bla bla bla </li>
            <li>phone: 01090988538</li>
            <li>Email: <a href="mailto:amenyasser67@gmail.com">amenyasser67@gmail.com</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
<!--footer-->
